.navbar {

  height: 70px;
  width: 100%;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:0 40px;

  background:#0f172a;

  color:white;

}


.logo {

  font-size:22px;

}



.nav-links {

  display:flex;

  gap:15px;

}



.nav-links button {

  padding:10px 20px;

  border:none;

  border-radius:8px;

  cursor:pointer;

  background:#2563eb;

  color:white;

  font-size:15px;

}



.nav-links button:hover {

  opacity:0.8;

}



.logout-btn {

  background:#dc2626 !important;

}
.register-btn {

  background:#16a34a !important;

}